In [ ]:
#Converting an integer into Decimals 
import decimal
num = 10
inte = decimal.Decimal(num)
print(type(num))
print(type(inte))

<class 'int'>
<class 'decimal.Decimal'>

In [ ]:
#Counting Vowel 
vowel = ['a','e','i','o','u']
word = 'Python_code'
vowel_count = 0
non_vowel_count = 0
for chart in word:
    if chart in vowel:
        vowel_count+=1
    elif chart not in vowel:
        non_vowel_count +=1
print(f"vowel: {vowel_count}")
print(f"Non_vowel: {non_vowel_count}")

vowel: 3
Non_vowel: 8

In [28]:
# Finding Max and Min Number
list1 = [1,8,3,5,6,7,2]
max_num = list1[0]
mim_num = list1[0]
for i in list1:
    if max_num<i:
        max_num = i
    elif mim_num>1:
        mim_num = i
print(f"Max_No: {max_num}")
print(f"Min_No: {mim_num}")

Max_No: 8
Min_No: 1

In [ ]:
#merge list
list1 = [1,2,3,4]
list2 = [5,6,7,8]

merge_data = list1+list2

print(merge_data)

# for i in range(len(list1)):
#     merge_data.append(list1[i] + list2[i])
# print(merge_data)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

#Q1 merge list seperate 2 list like [1,2][3,4]
#Q2 seperate 2 list like [1,5][2,6]

In [74]:
# counting the num of string
word = 'Interviewe'
letter = 'e'
count = 0
for i in word:
    if i == letter:
        count+=1
print(count)

3

In [3]:
# word = 'Hell@ Wor!d $50##'
# sp_char = '!@#$%^&*()'
# count = 0
# for i in word:
#     if i in sp_char:
#         count+=1
# print(count)

def count_sp_char(text):
    sp_char = '!@#$%^&*()'
    count = 0
    for i in word:
        if i in sp_char:
            count+=1
    return count

word = 'Hell@ Wor!d $50##'
print(count_sp_char(word))

5

In [4]:
import re
word = "C O D E"
letter = re.sub("[/ s+]","",word)
print(letter)

CODE

In [5]:
# word = "My name is Vinay Kumar Yadav"

# #1 split
# Q1 = word.split(" ")
# print(Q1)
# #2 reves
# Q2 = Q1[::-1]
# print(Q2)
# #3 merge
# Q3 = " ".join(Q2)
# print(Q3)

def rev_word(string):
    q3 = " ".join(string.split()[::-1])
    return q3
word = "My name is Vinay Kumar Yadav"
rev_word(word)

'Yadav Kumar Vinay is name My'

In [6]:
list1 = [1,4,6,2,8]
ti = sorted(list1)
print(ti)

[1, 2, 4, 6, 8]

In [7]:
# spliting even num and old num
from sympy import *
# list1 = [1,2,3,4,5,6,7,8,9]
# even = []
# odd = []
# prim = []
# for num in list1:
#     if num%2==0:
#         even.append(num)
#     if num%2!=0:
#         odd.append(num)
#     if isprime(num):
#         prim.append(num)
# print(f"Even: {even}")
# print(f"Odd: {odd}")
# print(f"Prime: {prim}")

def num_type(number):
    even,odd,prim = [],[],[]
    for num in number:
        if num%2==0:even.append(num)
        if num%2!=0:odd.append(num)
        if isprime(num):prim.append(num)
    return even,odd,prim
list22 = [2,22,23]
print(num_type(list22))

([2, 22], [23], [2, 23])

In [8]:
import re
word = "Int123"
letter = []
num = []

# 1
# for i in word:
#     if re.sub("[0-9]","",i) == i:
#         letter.append(i)
#     elif re.sub("[a-zA-Z]","",i) ==i:
#         num.append(i)
# print("".join(letter))
# print("".join(num))

# 2
# for i in word:
#     if i.isalpha():
#         letter.append(i)
#     if i.isdigit():
#         num.append(i)
# print("".join(letter))
# print("".join(num))

# 3        
# letter = "".join([i for i in word if i.isalpha()])
# number = "".join([i for i in word if i.isdigit()])

In [ ]:
word = 'abcabcbb'
chart = list(dict.fromkeys(word))
count = [word.count(ch) for ch in chart]
print(max(count))

4

In [ ]:
# Find All Pairs in a List That Sum to a Target Value
list11 = [0,9,2,7,4,5]
target = 9
for i in list11:
    compl = target - i
    if compl in list11 :
        print(f"({i},{compl}) = {target}")

(0,9) = 9
(9,0) = 9
(2,7) = 9
(7,2) = 9
(4,5) = 9
(5,4) = 9

In [2]:
def merge(list1,list2):
    Merged = []
    i = 0
    j = 0

    while i<len(list1) and j<len(list2):
        if list1[i]<list2[j]:
            Merged.append(list1[i])
            i+=1
        else:
            Merged.append(list1[j])
            j+=1
    Merged.extend(list1[i:])
    Merged.extend(list2[j:])
    return Merged

list1 = [1,2,4,5]
list2 = [4,5,6]

print(merge(list1,list2))

[1, 2, 1, 4, 2, 5, 6]

In [ ]:
num = 5 # 5*4*3*2*1
# fa = 1
# for i in range(1,num+1):
#     # print(i)
#     fa*=i

# print(fa)

def factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact*=i
    return fact


num = 5
print(factorial(num))

120

In [177]:
ro = "CDXX"
total = 0
row_no= {
    "I":1,"V":5,"X":10,"L":50,"C":100,"D":500,"M":1000
}
# print(row_no["C"])

for i in ro:
    print(row_no[i])

# def romanToInt(s):
#   rom_no = {"I":1,"V":5,"X":10,"L":50,"C":100,"D":500,"M":1000}
#   t_sum = 0
#   for i in s:
#     t_sum += rom_no[i]
  
#   return t_sum

# s = "CDXX" 

# print(romanToInt(s))

100
500
10
10

In [ ]:
a = [1, 2, 3, 4, 5]
b = [0, 1, 3, 7]

def intr(a,b):
    inter = []
    for i in a:
        for j in b:
            if i == j :
                inter.append(i)
    return inter

a = [1, 2, 3, 4, 5]
b = [0, 1, 3, 7]

print(intr(a,b))

[1, 3]

In [1]:
import pandas as pd

data = {
    "applicant_name":['Vinay','Rohit','Mohit'],
    "Contact_No":['9238457483','7345628928','9234857289']
}

df = pd.DataFrame(data)

df = df.rename(columns={
    'applicant_name':"Name"
})

df

    Name  Contact_No
0  Vinay  9238457483
1  Rohit  7345628928
2  Mohit  9234857289

In [ ]:
def contains_duplicate(input):
    for i in set(input):
        if input.count(i)>1:
            return True
    return False
        
list01  = [1,3,5,7]#[1,2,3,-1, 0 , 1,2]
print(contains_duplicate(list01))

False

In [ ]:
s= 'listen'
t = 'silent'

print(sorted(s))
print(sorted(t))

['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']

In [ ]:
def is_anagram(s, t):
    return sorted(s) == sorted(t)

s = "lemur" 
t = "lemer"
print(is_anagram(s, t))

In [31]:
def number_letter_count(N):
    import inflect
    p = inflect.engine()
    return sum(len(p.number_to_words(i).replace(" ", "").replace("-", "").replace("and", "and" if i < 1000 and i > 100 else "")) for i in range(1, N+1))

# Example usage
print(number_letter_count(1000))  # Output: 21124

21121

In [ ]:
import inflect
n = 5
p = inflect.engine()
print(p.number_to_words(n))

five

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Test the function
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [6]:
import os
import pandas as pd
dis = os.listdir()
files = next((file for file in dis if file.endswith("Book1.xlsx")),None)
x= pd.read_excel(files)
x

  Name  Id
0    A   1
1    B   2
2    C   3
3    D   4

In [12]:
import pandas as pd
x = [1,2,3,'vinay','SoNu','RaM']
num = []
word = []
for i in x :
    if isinstance(i,int):
        num.append(i)
    if isinstance(i,str):
        proper = i.capitalize()
        word.append(proper)
# print(num)
# print(word)

number_word = pd.DataFrame({
    'Number': num,
    'Word':word
})

number_word

   Number   Word
0       1  Vinay
1       2   Sonu
2       3    Ram

In [ ]:
y = ['123vinay','vinay yadav']
for i in y:
    if isinstance(i,str):
        propers = i.split(" ")
        for j in propers:
            print(j.capitalize())

123vinay
Vinay
Yadav

In [ ]:
# def word_ch(word):
#     letter = []
#     sp = word.split(" ")  
#     for i in sp:
#         stro = i.capitalize()
#         letter.append(stro)
#     return letter

# word = 'vinay yadav'
# print(word_ch(word))


def solve(s):
    spilting = s.split(" ")
    letter = [i.capitalize() for i in spilting]
    return " ".join(letter)

word = input("Enter Word: ")
print(solve(word))

['Vinay', 'Yadav']

In [60]:
#Count substring occurrences
string = 'ABCDCDC'
sub_string = 'CDC'
count = 0
for i in range(len(string) - len(sub_string) + 1):
    if string[i:i+len(sub_string)] == sub_string:
        count +=1
print(count)

2

In [91]:
s = 'qA2'
if s.isalnum():
    print(True)
if s.isalpha():
    print(True)

True

In [ ]:
# Thickness must be an odd number
thickness = 5 # Example: 5
c = 'H'
for i in range(thickness):print((c*i).rjust(thickness-1) + c + (c*i).ljust(thickness-1))
for i in range(thickness+1):print((c*thickness).center(thickness*2) + (c*thickness).center(thickness*6))
for i in range((thickness+1)//2):print((c*thickness*5).center(thickness*6))
for i in range(thickness+1):print((c*thickness).center(thickness*2) + (c*thickness).center(thickness*6))
for i in range(thickness):print(((c*(thickness-i-1)).rjust(thickness) + c + (c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

In [108]:
import textwrap
# w = 'ABCDEFGHIJKLIMNOQRSTUVWXYZ'

# wr = textwrap.TextWrapper(width=4).wrap(text=w)
# # wor = wr.wrap(text=w)
# for element in wr: 
#     print(element) 

def wrap(string, max_width):
    s_wrap = textwrap.TextWrapper(width = max_width).wrap(text = string)
    return "\n".join(s_wrap)


string = 'ABCDEFGHIJKLIMNOQRSTUVWXYZ'
max_width = 4
print(wrap(string, max_width))

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [115]:
# import textwrap
# w = 'AABCAAADA'
# wr = textwrap.TextWrapper(width=3).wrap(text=w)
# for element in wr:
#     print(unique(element)) 
#

import textwrap
def unique(segment):
    result = ""
    for char in segment:
        if char not in result:
            result += char
    return result

w = 'AABCAAADA'
wr = textwrap.TextWrapper(width=3).wrap(text=w)

for element in wr:
    print(unique(element))

AB
CA
AD

In [123]:
def merge_the_tools(string, k):
    def unique(string):
        result = ""
        for char in string:
            if char not in result:
                result += char
        return result
    
    for i in range(0, len(string), k):
        segment = string[i:i+k]
        print(unique(segment))


print(merge_the_tools('AABCAAADA',3))

AB
CA
AD
None

In [158]:
x = [7,'UK','China','USA','France','New Zealand','UK','France']
country = set()
for store in x:
    if isinstance(store,str):
        country.add(store)
    
print(country)

{'UK', 'USA', 'France', 'China', 'New Zealand'}

In [ ]:
def is_leap(year):
    if (year%4==0 and year%100!=0) or (year % 400==0):
        return True
    else:
        return False
year = 1990
print(is_leap(year))

False

In [ ]:
import calendar
year = 2015 #int(input())
month = 8 # int(input())
day = 5

week_day = calendar.weekday(year,month,day)
dayName = calendar.day_name[week_day]
print(dayName.upper())

WEDNESDAY

In [ ]:
x = 1
y = 1
z = 1
n = 2
result = [[i, j, k] 
          for i in range(x + 1) 
          for j in range(y + 1) 
          for k in range(z + 1) 
          if i + j + k != n]

print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [ ]:
x= 5
a = '2 3 6 6 5'
ar = map(int,a.split())
uq = list(set(a))
z = uq.sort()
print(z)

None

In [ ]:
import pandas as pd
from num2words import num2words

def numtoword(num):
    if isinstance(num, (int)):
        word = num2words(num, lang='en_IN')
        return f"{num}: Rupees {word.capitalize()}"
    else:
        return ""
print(numtoword(33333333))

33333333: Rupees Three crore, thirty-three lakh, thirty-three thousand, three hundred and thirty-three